#header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
}
.invite-top {
    background-color: unset;
    border: unset;
    border-bottom:  1px solid skyblue;
    margin-left: 10px;
    margin-right: 10px;
}
#inv-link {
    color: black;
    text-decoration-line: none;
}
h1 {
    text-align: center;
}
#dev {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    height: 350px;
    display: grid;
    grid-template-rows: 1fr auto;
}
#devimg {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
body {
    font-family: "맑은 고딕", "Malgun Gothic", sans-serif;
}