header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    background-color: #ffffff;
    border-bottom: 1px solid #99AAB5;
}
.invite-top {
    background-color: unset;
    border: unset;
    border-bottom:  1px solid skyblue;
    margin-left: 10px;
    margin-right: 10px;
}
#inv-link {
    color: black;
    text-decoration-line: none;
}
h1 h2 {
    text-align: center;
}
footer {
    border-top: 1px solid #99AAB5;
    margin-top: 100px;
}
body {
    font-family: -apple-system, "Apple SD Gothic Neo", Ubuntu, "Helvetica Neue", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif;
}
@media screen and (max-width: 800px) {
    .invite-top {
        display: none;
    }
    #invitebtn-top {
        display: block;
    }
}
a:visited {
    color: black;
    text-decoration-line: none;
}